* { margin: 0px; }
a { text-decoration: none;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}

input:focus {
  outline: none;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 5px;
}

#view_id {
  
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  background-color: #5D5F60;
  margin-bottom: 5px;
}

#nav div {
  padding: 20px;
}

.mid_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mid_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}

.mid_3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}

.empty_2 {
  flex-grow: 100;
}

.empty_3 {
  flex-grow: 100;
}

.container {
  padding-left: 5px;
  
}

.num {
  border: none;
  text-align: right;
  background-color: #5D5F60;
}

.ea {
  margin-left: 10px;
}

.brightness {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.brightness::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border: 2px solid #fff;
  background: #ffffff00;
  cursor: pointer; /* Cursor on hover */
}

.brightness:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.container .numberContainer {
  border-radius: 5px;
  padding: 20px;
  background-color: #5D5F60;
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.container .brightnessContainer {
  border-radius: 5px;
  padding: 20px;
  background-color: #5D5F60;
  margin-bottom: 5px;
}

.color-picker-container {
    display: inline-block;
    background: #5d5f60 none repeat scroll 0% 0%;
    border-radius: 4px;
  }

  .color-picker-container .picker-container .canvas-container {
    margin: 20px;
    position: relative;
    float: left;
    width: 200px;
    display: inline-block;
    background: #5D5F60;
  }

  .color-picker-container .picker-container .canvas-container.active {
    display: block;
  }

  .color-picker-container .picker-container .canvas-container canvas {
    cursor: crosshair;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #E8E8E8;
    background: #E6D3D3;
  }

  .color-picker-container .picker-container .canvas-container .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.1);
  }

  .color-picker-container .picker-container .canvas-container input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    background: #353738;
    border: 0;
  }

  .color-picker-container .picker-container .canvas-container .inputRed {
    color: rgb(255, 0, 0);
  }

  .color-picker-container .picker-container .canvas-container .inputGreen {
    color: rgb(0, 255, 0);
  }

  .color-picker-container .picker-container .canvas-container .inputBlue {
    color: rgb(50, 150, 255);
  }

  .color-picker-container .picker-container .slider-container {
    width: 15px;
    float: right;
    position: relative;
    margin: 15px;
    border: 2px solid #fc7a00;
  }

  .color-picker-container .picker-container .slider-container .slider {
    width: 15px;
    height: 249px;
    background: #000;
  }

  .color-picker-container .picker-container .slider-container .pointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #007bff;
    position: absolute;
    left: -8px;
  }

  .color-picker-container .palletes-container {
    float: right;
    width: 275px;
    border: 2px solid #fc7a00;
  }

  .color-picker-container .palletes-container .palette {
    width: 35px;
    height: 35px;
    float: right;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.28);
    cursor: pointer;
  }

  .color-picker-container .palletes-container .palette.active {
    box-shadow: 0 0 0 3px #3F3F40;
  }

  .color-picker-container .palletes-container .palette.add {
    border: 2px dashed #bababa;
    box-shadow: inherit;
    position: relative;
  }

  .color-picker-container .palletes-container .palette.add:after {
    content: "+";
    font-size: 24px;
    color: #bababa;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
  }

  